.ui-autocomplete { position: absolute; cursor: default; background:#CCC }   
html .ui-autocomplete { } /* without this, the menu expands to 100% in IE6 */
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: -1;
    display:block;
    float: left;
    color:green;
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
   
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
    background-color: yellow;
    }
    



.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
select.btn-mini {
width:120px;
    height: auto;
    line-height: 14px;
}

/* this is optional (see below) */


select.btn-mini + .caret {
    margin-left: -20px;
    margin-top: 9px;
}

